{% extends 'base.html' %}
{% block content %}

<h1>JOB Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ job.role }}</span>
        <p>Breed: {{ job.company }}</p>
        <p>Description: {{ job.salary }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'jobs_update' job.id %}">Edit</a>
        <a href="{% url 'jobs_delete' job.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_followup' job.id %}" method="post">
      {% csrf_token %}
      {{ followup_form.as_p }}
      <input type="submit" class="btn" value="Add Follow-Up">
    </form>
    <br>
    {% if job.got_followup %}
      <div class="card-panel teal-text center-align">{{object.role}} outcome for this role looks good! </div>
    {% else %}
      <div class="card-panel red-text center-align">{{object.role}} do not give up!</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Follow-up</th></tr>
      </thead>
      <tbody>
        {% for followup in job.followup_set.all %}
          <tr>
            <td>{{followup.date}}</td>
            <td>{{followup.get_interview_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
   var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_interview');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}