{% extends 'base.html' %}
{% block content %}

<h1>JOB Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card blue darken-4">
      <div class="card-content ">
        <span class="card-title">{{ job.role }}</span>
        <h5>@ {{ job.company }}</h5>
        <h5>$ {{ job.salary }}</h5>
      </div>
      <div class="card-action">
        <a href="{% url 'jobs_update' job.id %}">Edit</a>
        <a href="{% url 'jobs_delete' job.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_followup' job.id %}" method="post">
      {% csrf_token %}
      {{ followup_form.as_p }}
      <input type="submit" class="btn blue darken-4" value="Add Follow-Up">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Follow-up</th></tr>
      </thead>
      <tbody>
        {% for followup in job.followup_set.all %}
          <tr>
            <td>{{followup.date}}</td>
            <td>{{followup.get_interview_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
	<div class="col s6">
		<h3>Skills Required</h3>
    {% if job.tech_stack.count %}
      {% for tech_stack in job.tech_stack.all %}
        <div class="card blue darken-4">
			<div class="card-content">
				<span class="card-title">
					 <span>{{ tech_stack.level }} level</span> {{ tech_stack.skill }} 
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>Add some skills</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Available Skills</h3>
    {% if tech_stack.count %}
      {% for tech_stack in tech_stack.all %}
        <div class="card blue darken-4">
          <div class="card-content">
            <span class="card-title">
              <span>{{ tech_stack.level }} level</span> {{ tech_stack.skill }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_tech_stack' job.id tech_stack.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn blue darken-3">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{job.role}} Already Has All skills Available</h5>
    {% endif %}
  </div>
</div>
<script>
   var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_interview');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}